header{
    .logo{
        display: flex;
        background-color: $colorSecundario;
        font-size: x-large;
        padding-left: 4%;  
        margin:0%;
            img{
                padding-bottom: 15px;
        }
    }
} 